*{
  box-sizing: border-box;
}

h1 {
  font-family: Georgia, serif;
}

.result {
  display : flex ;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border : 1px solid lightslategray;
  border-radius: 5px;
  padding : 10px;
  
}

.show-result {
  overflow-wrap: break-word;
  align-self: flex-end;
}

.result p {
  font-size: 30px;
  margin: 5px;
}

.result button {
  align-self: flex-start;
  border: none;
  text-decoration: none;
  text-align: center;
  border:  1px solid rgba(119, 134, 150, 0.3);

}

.history-content {
  padding: 5px 0px;
}

.history-item {
  display : grid ;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-gap: 50px;
  padding:5px;
  justify-content: space-evenly;

}

.history-item button {
  padding : 5px;
  border-radius: 5px;
  border : 1px solid rgb(46, 132, 198);
  overflow :hidden;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px 5px ;
  justify-items: center;
  background-color: white;
  padding: 5px;
}

.number{
  width: 100px;
  height: 50px;
  padding : 10px;
  font-size: 20px;
  border-radius: 5px;
  border:  1px solid white;

}

.Ops {
  width: 100px;
  height: 50px;
  padding : 10px;
  font-size: 20px;
  border-radius: 5px;
  border:  1px solid white;
  background-color: rgba(119, 134, 150, 0.3);
  color: black
}

.equalTo {
  width: 100px;
  height: 50px;
  padding : 10px;
  font-size: 20px;
  border-radius: 5px;
  border:  1px solid white;
  background-color: rgb(59, 130, 210);
  color : white
}
